@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: url(../imagens/Prancheta.jpg);
    background-size: cover;
    /*overflow: hidden;*/
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around; /*alinhamento de container flexivel*/
    position: fixed;
    z-index: 99; /*Ordem de empilhamento*/
}
header .logo{
    width: 60%;
}
header .logo img{
    width: 50px;
}
/*---MENU PRINCIPAL----*/
header .menu ul{
    display: flex;
}
header .menu ul li{
    padding: 0 20px;
    list-style: none;
}
header .menu ul li a{
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
    font-size: 20px;
}
header .menu ul li a:hover{
    color: #B6C7EB;
}
/* ----- MENU HOME ------*/
#home .container{
    width: 100%;
    height: 100vh;
}
#home .container .icons{
    width: 10%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    position: fixed;
    z-index: 999;
}
#home .container .icons ion-icon{
    padding: 30px 0;
    font-size: 2rem;
    color: #fff;
    transition: 0.5s ease;
}
#home .container .icons ion-icon:hover{
    color: #156fc3;
}
#home .container .titulo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /*complemento do flex-direction*/
}
.titulo h1{
    font-size: 78px;
    color: white;
    margin-left: 200px;
}
.titulo p{
    color: #b0c0e2;
    font-size: 30px;
    margin-left: 200px;
}
#prancheta-dois{
    height: 85%;
    position: absolute;
    bottom: 0;
    right: 80px;
}
/* ----- MENU ABOUT ------*/
#about .container{
    width: 100%;
    height: 100vh;
    background: url(../imagens/Prancheta.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between; /*distribuição uniforme dos itens*/
}
#about .container .titulo{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 60px;  
}
#about .container .titulo h1{
    font-size: 40px;
    margin-left: 150px;
    text-align: left;
}
#about .container .titulo h2{
    font-size: 20px;
    margin-left: 150px;
    margin-top: 10px;
    color: #a4b7e0;
}
#about .container .titulo p{
    width: 500px;
    margin-left: 150px;
    margin-top: 20px;
    color: #ffff;
    font-size: 15px;
    text-align: justify;
}
#about .container #img-dois{
    width: 80%;
    margin-right: 20px;
}
/*--- MENU PORTIFOLIO ---*/
#portifolio .container{
    width: 100%;
    height: 100vh;
    background: url(../imagens/Prancheta\ 2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#portifolio .container input[type=radio]{
    display: none;
}
#portifolio .container .folha{
    position: absolute;
    width: 40%;
    height: 80%;
    left: 0;
    right: 0;
    margin: 130px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: 0.4s ease;
    cursor: pointer;
}
#portifolio .container .folha img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#portifolio .container .folha h1{
    position: absolute;
    z-index: 9;
    color: #fff;
    font-size: 6rem;
    margin-top: 60px;
}
#portifolio .container .folha p{
    position: absolute;
    z-index: 9;
    width: 400px;
    color: #fff;
    margin-top: 200px;
    text-align: justify;
}
#portifolio .container .folha nav{
    position: absolute;
    z-index: 9;
    width: 400px;
    color: #fff;
    margin-top: 200px;
    text-align: justify;
}
#portifolio .container .folha nav #sem-ponto{
    text-decoration: none;
    list-style: none;
}
#portifolio .container .folhas{
    position: relative;
    width: 100%;
    height: 100%;
}
/*----PASSAGEM DOS SLIDES-----*/
#slide-1:checked ~ .folhas #cursos,
#slide-2:checked ~ .folhas #estagio-1,
#slide-3:checked ~ .folhas #linguagens{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#slide-1:checked ~ .folhas #linguagens,
#slide-2:checked ~ .folhas #cursos,
#slide-3:checked ~ .folhas #estagio-1{
    transform: translateX(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#slide-1:checked ~ .folhas #estagio-1,
#slide-2:checked ~ .folhas #linguagens,
#slide-3:checked ~ .folhas #cursos{
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}
/*----MENU CONTATO-----*/
#contato .container{
    width: 100%;
    height: 100vh;
    background: url(../imagens/Prancheta.jpg);
    background-size: cover;
}
#contato .container .container-contato{
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    padding: 160px 0;
    margin-left: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#contato .container-contato .info{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fff;
}
#contato .container-contato .info h1{
    font-size: 2rem;
    text-transform: uppercase;
}
#contato .container-contato .linha{
    width: 350px;
    height: 3px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
#contato .container-contato .info ion-icon{
    font-size: 2rem;
    padding: 20px 0;
}
#contato .container-contato .info span{
    font-size: 1.2rem;
    padding: 5px 0;
}

/*------RESPONSIVIDADE-------*/
@media screen and (max-width:960px){
    /*home*/
    header .logo img{
        margin-left: 20px;
    }
    #home .container .icons {
        margin-left: -20px;
    }
    #prancheta-dois{
        height: 50%;
    }
    /*about*/
    #about .container #img-dois{
        width: 30%;
    }
}
@media screen and (max-width:500px){
    /*home*/
    body{
        background: #d1e2f8;
    }
    #home .container .titulo{
        height: 65vh;
        text-align: center;
    }
    #prancheta-dois{
        height: 40%;
        right: 0;
        margin-right: -25%;      
    }
    /*about*/
    #about .container{
        background: #d1e2f8;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*experiencia*/
    #about .container .titulo h1{
        margin-left: -20px;
    }
    #about .container .titulo h2{
        margin-left: -20px;
        margin-right: 10px;
    }
    #about .container .titulo p{
        margin-left: -20px;
        text-overflow: hidden;
    }
}
